<h1 class="cart-title">TU CARRITO!</h1>
<main class="cart-container">
    {{#each carts}}
        <div>
            <h3>Producto {{@index}}</h3>
            <hr>
            <p>TITULO: {{this.product_id.title}}</p>
            <p>PRECIO: {{this.product_id.price}}</p>
            <p>STOCK: {{this.product_id.stock}}</p>
            <hr>
            <p>Cantidad: {{this.quantity}}</p>
        </div>
    {{/each}}
</main>