<main>
    <h1>USERS!</h1>
    <hr>
    <div>
        {{#each users}}
        <div>
            <br>
            <h2>Name: {{first_name}} {{last_name}}</h2>
            <p>Email: {{email}}</p>
            <p>Rol: {{rol}}</p>
            <p>Age: {{getAge age}} yrs</p>
            <br>
        </div>
        <hr>

        {{/each}}
    </div>
</main>