<header id="main-header">
    <a href="/" class="nav-logo">
        <img src="/logo.png" alt="">
        <p>Shop<p class="highlight">Fruits</p></p>
    </a>
    <nav class="nav">
        <div id="toggle-nav">
            <span></span><span></span><span></span>
        </div>
        <ul class="nav-list">
            {{#if (equals user.rol "admin") }} <li class="nav-link"><a class="important" href="/users">Users</a></li><br> {{/if}}
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/products">Products</a></li>
            <li class="nav-link"><a href="/carts"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <div id="profile-menu-toggle" class="profile-menu-icon">
                {{#if user}}<p>{{user.first_name}} </p>{{/if}}
                <i class="fa-solid fa-circle-user"></i>   
            </div>

        </ul>
    </nav>
    <div id="profile-menu" class="profile-menu-container">
        <div class="profile-menu-user">
            <p>Bienvenido {{#if user}}{{user.first_name}} {{user.last_name}}{{else}}Invitado{{/if}} </p>
            {{#if user}} <p>rol: <span{{#if user.isAdmin}} class="orange" {{/if}}>{{user.rol}}</span></p>{{/if}}
        </div>
        <div class="profile-menu-options">
            <div id="profile-menu-register" class="profile-menu-button">
                <span><i class="fa-solid fa-user-plus orange"></i></span>
                <p>regist</p>
            </div>
            <div id="profile-menu-login" class="profile-menu-button" >
                <span><i class="fa-solid fa-circle-user"></i></span>
                <p>login</p>
            </div>
            
            <a href="api/sessions/logout" class="profile-menu-button">
                <span><i class="fa-solid fa-right-from-bracket"></i></span>
                <p>logout</p>
            </a>

        </div>
    </div>
</header>

<div id="modal-profile" class="modal-profile">
    <div id="profile-register" class="profile">
        <div class="profile-modal">
            <div class="profile-modal-title">
                <div class="profile-logo">
                    <p>Shop<p class="highlight">Fruits</p></p>
                </div>
                <h3>Register for Free</h3>
                <p class="profile-modal-subtitle">and enhance your experience</p>
            </div>
            {{> register-form}}

        </div>
        <button class="profile-close-button"><i class="fa-solid fa-xmark"></i></button>
    </div>

    <div id="profile-login" class="profile">
        <div class="profile-modal">
            <div class="profile-modal-title">
                <div class="profile-logo">
                    <p>Shop<p class="highlight">Fruits</p></p>
                </div>
                <h3>Member Login</h3>
                <p class="profile-modal-subtitle">Access your ShopFruits account</p>
            </div>
            {{> login-form}}
        </div>
        <button class="profile-close-button"><i class="fa-solid fa-xmark"></i></button>
    </div>
</div>